@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --main-white-color: #F5F1E4;
  --main-blue-color:rgb(0, 140, 255);
  --main-black-color: rgb(48, 46, 46);
  --main-pink-color: rgb(236, 173, 56);
}

span {
  color: var(--main-blue-color);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  font-size: 40px;
}

@media (min-width: 913px) {
  h1 {
    text-align: left;
    font-size: 60px;
  }
}