.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 10px;
}

.cards {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 232, 232, 0.849);
}

@media (min-width: 763px) {
    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}

@media (min-width: 913px) {
    .container{
        margin: 30px;
        margin-top: 240px;
    }

    .cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
