.container{
    margin: 30px 0px;
}

.text{
    text-align: left;
    margin: 5px 10px;
    font-weight: 400;
}

@media (min-width: 913px){
    .container{
        display: flex;
        font-size: 19px;
    }
}

