.container {
    display: flex;
    margin: 5px 0px;
    margin-top: 15px;
    height: 70px;
    width: 100%;
    align-items: center;
}

.img_container {
    background-image: url('../../media/healthy.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 35px;
    width: 35px;
    margin: 0px 5px;
}

.hs {
    font-size: 17px;
}

.info {
    width: 55%;
    text-align: left;
    font-size: 13px;
    margin-left: auto;
    color: rgb(59, 59, 59);
}

@media (min-width: 913px) {
    .container {
        margin-top: 180px;
    }

    .img_container {
        height: 40px;
        width: 40px;
    }

    .hs{
        font-size: 19px;
    }

    .info {
        font-size: 14px;
    }
}