.container {
    display: flex;
    margin-bottom: 20px;
}

.line{
    color: var(--main-black-color);
    font-size: 78px;
    font-weight: 100;
}

.log_container_B{
    width: 135px;
    height: 135px;
    background-image: url('../../media/recipe-book.png');
    background-position: center center;
    background-size: cover;
}

.log_container_H{
    width: 120px;
    height: 120px;
    background-image: url('../../media/henry.png');
    background-position: center center;
    background-size: cover;
    margin-left: 6px;
}

.log_container_H:hover{
    cursor: pointer;
}