.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 100;
    padding: 10px;
    background-color: #95cfb7;
}

.actions {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.options {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff7bd;
    box-shadow: 0px 0px 19px black;
    padding: 10px;
}

.label {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    font-size: 19px;
    font-weight: 700;
    color: var(--main-blue-color);
    padding: 5px 10px;
    background-color: rgb(255, 255, 255);
    outline: 3px solid var(--main-red-color);
}

.check {
    margin-right: 5px;
    height: 19px;
    width: 19px;
}

.selects {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.button {
    margin-right: 70px;
    margin-top: -55px;
}

.create {
    padding: 5px;
    margin: 10px;
    width: 300px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: var(--main-green-color);
    color: white;
    box-shadow: 0px 0px 5px black;
}


@media (min-width: 913px) {
    .container {
        width: 100%;
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .up{
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 20px;
    }

    .options{
        flex-direction: row-reverse;
        justify-content: center;
        margin-top: 0;
    }

    .create{
        width: 300px;
        margin-right: 30px;
        margin-top: 48px;        
    }
}