.container{
    display: flex;
    align-items: center;
}

.button{
    font-size: 18px;
    margin: 3px;
    height: 27px;
}

.number{
    font-size: 20px;
    margin: 5px;
    height: 35px;
    padding: 3px 10px;
    border-radius: 4px;
    box-shadow: 0px 0px 2px black;
}
.number:hover{
    cursor: auto;
}
